/.idea/
/wii-dex/target/
/wii_dex/data/
/wii_dex/.idea/
/wii_dex/.iml

/wii-core/target/
/wii_core/data/
/wii_core/.idea/
/wii_core/.iml

/support/*/target/
/support/*/data/
/support/*/.idea/
/support/*/.iml


*.iml
*.DS_Store