/.idea/
/wii-eel/target/
/wii-eel/data/
/wii-eel/.idea/
/wii-eel/.iml

/wii-core/target/
/wii_core/data/
/wii_core/.idea/
/wii_core/.iml

/support/*/target/
/support/*/data/
/support/*/.idea/
/support/*/.iml

/service/*/target/
/service/*/data/
/service/*/.idea/
/service/*/.iml

/test/*/target/
/test/*/data/
/test/*/.idea/
/test/*/.iml

*.iml
*.DS_Store
/target/